<html>
    <head>
        <title> 
            9Game 
        </title>
    </head>

    <body>
        <h1> Login </h1>
        <form action="/login" method = "POST">

            <div>
                <label for="email">Email </label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password </label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" id="login" name="login">Login</button>

        </form>

        <a href = "/register"> Do not have an account?</a>

        <script>
            function doLogin(form) {
                form.submit.setAttribute("disabled", "disabled")
                form.submit.innerHTML = "Loading..."
    
                const ajax = new XMLHttpRequest()
                ajax.open("POST", "/login", true)
    
                ajax.onreadystatechange = () => {
                    if (this.readyState == 4 && this.status == 200) {
                        form.submit.removeAttribute("disabled")
                        form.submit.innerHTML = "Login"
    
                        const response = JSON.parse(this.responseText)
    
                        if (response.status == "success") {
                            const accessToken = response.accessToken
                            localStorage.setItem("accessToken", accessToken)
                            window.location.href = "/updateProfile"
                            if (response.profileImage == "") {
                                window.location.href = "/updateProfile"
                            } else {
                                window.location.href = "/"
                            }
                        } else {
                            alert(response.message)
                        }
                    }
                }
    
                ajax.send(new FormData(form))
                return false
            }
        </script>    

    </body>

</html>