<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>9Game Register</title>
    <link rel="stylesheet" href="/public/css/authstyle.css">
  </head>

    <body>
        <div class="center">
            <h1> Register </h1>

            <form onsubmit="return doRegister(this);">

                <div class="input_field">
                    <input type="text" id="name" name="name" required>
                    <span></span>
                    <label for="name">Name </label>
                </div>

                <div class="input_field">
                    <input type="text" id="username" name="username" required>
                    <span></span>
                    <label for="username">Username </label>
                </div>
            
                <div class="input_field">
                    <input type="email" id="email" name="email" required>
                    <span></span>
                    <label for="email">Email </label>
                </div>
            
                <div class="input_field">
                    <input type="password" id="password" name="password" required>
                    <span></span>
                    <label for="password">Password </label>
                </div>
            
                <button type="submit" name="submit">Register</button>

                <div class="link"> 
                    Already have an account? 
                    <a href="/login">Login</a>
                </div>
            
            </form>
        </div>

        <script>
            function doRegister(form) {
                form.submit.setAttribute("disabled", "disabled")
                form.submit.innerHTML = "Loading..."
    
                const ajax = new XMLHttpRequest()
                ajax.open("POST", "/auth/register", true)
    
                ajax.onreadystatechange = () => {
                    if (ajax.readyState == 4 && ajax.status == 200) {
                        form.submit.removeAttribute("disabled")
                        form.submit.innerHTML = "Register"
    
                        const res = JSON.parse(ajax.responseText)
                        alert("Test window: " + res.message)

                        if (res.status == "success") {
                            window.location.replace("/login")
                        }
                    }
                }
    
                ajax.send(new FormData(form))
                return false
            }
        </script>
        
    </body>
</html>