<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>9Game Reset</title>
        <link rel="stylesheet" href="/public/css/authstyle.css">
      </head>

      <body>
        <div class = "center">
            <h1> Reset </h1>

            <form name = "reset" onsubmit="return doSendEmail(this);">

                <div class="input_field">
                    <input type="email" id="email" name="email" required>
                    <span></span>
                    <label for="email">Email </label>
                </div>

                <button type="submit" name="submit">Reset</button>    

                <div class="link"> 
                    Already have an account? 
                    <a href="/login">Login</a>
                </div>

            </form>

        </div>

        <script>
            function doSendEmail(form) {
                form.submit.setAttribute("disabled", "disabled")
                form.submit.innerHTML = "Loading..."
    
                const ajax = new XMLHttpRequest()
                ajax.open("POST", "/auth/resetEmail", true)
    
                ajax.onreadystatechange = () => {
                    if (ajax.readyState == 4 && ajax.status == 200) {
                        form.submit.removeAttribute("disabled")
                        form.submit.innerHTML = "Reset"
    
                        const res = JSON.parse(ajax.responseText)
                        alert("Test window: " + res.message)

                        if (res.status == "success") {
                            window.location.replace("/login")
                        }
                    }
                }
    
                ajax.send(new FormData(form))
                return false
            }
        </script>  

    </body>

</html>