<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>9Game Change Password </title>
        <link rel="stylesheet" href="/public/css/authstyle.css">
      </head>

      <body>
        <div class = "center">
            <h1> Change Password </h1>

            <form name = "reset" onsubmit="return doReset(this);">

                <input type="hidden" name = "reset_token" value = "<%= reset_token %>" />
                <input type="hidden" name = "email" value = "<%= email %>" />

                <div class="input_field">
                    <input type="password" id="password" name="password" required>
                    <span></span>
                    <label for="email">Enter New Password </label>
                </div>

                <div class="input_field">
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <span></span>
                    <label for="email">Confirm New Password </label>
                </div>

                <button type="submit" name="submit">Reset</button>    

            </form>

        </div>

        <script>
            function doReset(form) {
                form.submit.setAttribute("disabled", "disabled")
                form.submit.innerHTML = "Loading..."
    
                const ajax = new XMLHttpRequest()
                ajax.open("POST", "/auth/resetPW", true)
    
                ajax.onreadystatechange = () => {
                    if (ajax.readyState == 4 && ajax.status == 200) {
                        form.submit.removeAttribute("disabled")
                        form.submit.innerHTML = "Reset"
    
                        const res = JSON.parse(ajax.responseText)
                        alert("Test window: " + res.message)

                        if (res.status == "success") {
                            window.location.replace("/login")
                        }
                    }
                }
    
                ajax.send(new FormData(form))
                return false
            }
        </script>  

    </body>

</html>