<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>9Game Register</title>
    <link rel="stylesheet" href="/public/css/authstyle.css">
  </head>

  <body>
      Verify Successful.
  </body>

</html>