body {
    background-color: rgb(255, 255, 255);
    }
    
    a {
    text-decoration: none;
    font-size: 30px;
    color: blueviolet;
    margin: 50px;
    }
    
    .modal-header h1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
    }
    .modal-header {
        background-color: rgb(0, 0, 0);
        }

    .modal-header #xbutton{
        color: rgb(243, 237, 237);
        }
        
    .modal-content {
    background-color: rgb(255, 255, 255);

    }
      
    .modal-body  {
    border: 3px solid black;
    color: rgb(5, 0, 0);
    height: 500px;

    }

    .modal-body #comment{
        border: 3px solid black;
    }

    .modal-body #photo{
        height: 280px;
        width: 100%;
        box-shadow: 0 5px 15px #111;
        border-radius: 5px;
        padding: 15px;
    }

    .modal-body #btn{
        position: absolute;
        left: 75%;
    
    }

    .modal-footer #coms{
        position: relative;
        height: 200px;
        width: 100%;
        box-shadow: 0 5px 15px #111;
        border-radius: 5px;
        padding: 15px;
    }

    .modal-footer {
        border: 3px solid black;
        height: 350px;
    }

    